{% extends 'base.html' %}

{% block title %}Recurring transaction created{% endblock %}

{% block content %}
    <h1>Recurring transaction created!</h1>
    <p>New recurring transaction has been created.
        <p><a href="{% url 'wallet:transaction_create' %}">Add another transaction</a></p><br>
        <p><a href="{% url 'wallet:recurring_create' %}">Add another recurring transaction</a></p><br>
        <p><a href="{% url 'wallet:transactions_list' %}">Go back to transaction list</a></p>
    </p>
{% endblock %}