{% extends 'base.html' %}

{% block title %}Transaction: {{ transaction.name }}{% endblock %}

{% block content %}
    <div class="transaction-detail">
        <p>
            <h1><strong>{{ transaction.name }}</strong></h1>
            <strong>Wallet:</strong> {{ transaction.wallet }}<br>
            <strong>Type:</strong> {{ transaction.type }}<br>
            <strong>Category:</strong> {{ transaction.category }}<br>
            <strong>Description:</strong> {{ transaction.description }}<br>
            <strong>Date:</strong> {{ transaction.date }}<br>
            <strong>Amount:</strong> {{ transaction.amount }}<br>
            <strong>Notes:</strong> {{ transaction.notes }}<br>
        </p>
        <p><a href="{% url 'wallet:transaction_update' pk=transaction.id %}">Edit this transaction</a></p>
        <p><a href="{% url 'wallet:transaction_delete' pk=transaction.id %}">Delete this transaction</a></p>
    </div>
{% endblock %}