{% extends 'base.html' %}

{% block title %}Your transactions{% endblock %}

{% block content %}
    <h1>Your Transactions</h1>
    <div class="transaction-list">
        {% for transaction in transactions %}
            <div class="transaction">
                <strong><a href="{{ transaction.get_absolute_url }}">{{ transaction.name }}</a></strong><br>
                Wallet: {{ transaction.wallet}}<br>
                Amount: ${{ transaction.amount }}
            </div><br>
        {% endfor %}
    </div>
{% endblock %}
