{% extends 'base.html' %}

{% block title %}Your transactions{% endblock %}

{% block intro %}<h2>Your Transactions</h2>{% endblock %}

{% block content %}
    <h1>Your Transactions</h1>
    <p><a href="{% url 'wallet:transaction_filter' %}">Filter</a></p>
    <form action="." method="post">
        {{ prev_month_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Previous month"></p>
    </form>
    <form action="." method="post">
        {{ next_month_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Next month"></p>
    </form>
    <div class="transaction-list">
        {% for transaction in transactions.object_list %}
            <div class="transaction">
                <strong><a href="{{ transaction.get_absolute_url }}">{{ transaction.name }}</a></strong><br>
                Wallet: {{ transaction.wallet }}<br>
                Date: {{ transaction.date }}<br>
                Amount: ${{ transaction.amount }}
            </div><br>
        {% endfor %}
    </div>
    <div id="pagination">
        {{ transactions.render }}
    </div>
{% endblock %}

{% block menu %}
    <div>
        <a href="{% url 'wallet:transaction_create' %}">Create new transaction</a>
    </div><br>
    <div><a href="{% url 'wallet:transaction_filter' %}">Filter transactions</a></div><br>
    <div>
        <a href="{% url 'wallet:export_transactions_csv' %}">Export all transactions as CSV</a><br>
        <a href="{% url 'wallet:export_transactions_xls' %}">Export all transactions as XLS</a>
    </div>
{% endblock %}
