{% extends 'base.html' %}

{% block title %}Wallet: {{ wallet.name }}{% endblock %}

{% block content %}
    <div class="wallet-detail">
        <p>
            <h1><strong>{{ wallet.name }}</strong></h1>
            <strong>Balance:</strong> {{ wallet.balance }}<br>
            <strong>User:</strong> {{ wallet.user }}<br>
            <strong>Description:</strong> {{ wallet.description }}<br>
        </p>
        <p><a href="{% url 'wallet:wallet_update' pk=wallet.id %}">Edit this wallet</a></p>
        <p><a href="{% url 'wallet:wallet_delete' pk=wallet.id %}">Delete this wallet</a></p>
    </div><br>
    <p class="wallet-transactions">
        <p><h2>Latest transactions:</h2></p>
        {% for transaction in transactions %}
            <div>
                <p><strong><a href="{% url 'wallet:transaction_details' id=transaction.id %}">{{ transaction.name }}</a></strong><br>
                    Category: {{ transaction.category }}<br>
                    Amount: {{ transaction.amount }}<br>
                    Date: {{ transaction.date }}<br>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}