{% extends 'base.html' %}

{% block title %}Wallet: {{ wallet.name }}{% endblock %}

{% block content %}
    <div class="wallet-detail">
        <p>
            <h1><strong>{{ wallet.name }}</strong></h1>
            <strong>Balance:</strong> {{ wallet.balance }}<br>
            <strong>User:</strong> {{ wallet.user }}<br>
            <strong>Description:</strong> {{ wallet.description }}<br>
        </p>
        <a href="{% url 'wallet:wallet_delete' pk=wallet.id %}">Delete this wallet</a>
    </div>
{% endblock %}