{% extends 'base.html' %}

{% block title %}Your wallets{% endblock %}

{% block intro %}<h2>Your Wallets</h2>{% endblock %}

{% block content %}
    <div class="wallet-list">
        {% for wallet in wallets %}
            <div class="wallet">
                <li><a href="{{ wallet.get_absolute_url }}">{{ wallet.name }}</a></li>
            </div><br>
        {% endfor %}
    </div>
{% endblock %}

{% block menu %}
    <div>
        <a href="{% url 'wallet:wallet_create' %}">Create new wallet</a>
    </div>
{% endblock %}