{% extends 'base.html' %}

{% block head %}
    {% load chartit %}
    {{ chart|load_charts:"container" }}
{% endblock %}

{% block title %}Main page{% endblock %}

{% block intro %}<h2>Wallets Dashboard</h2>{% endblock %}

{% block allwidth %}<div id='container'>Chart will be rendered here</div><br>{% endblock %}

{% block content %}
    <div><p><h3>Your latest transactions:</h3></p>
        <p>
            {% for transaction in transactions|slice:':5' %}
                <div>
                    <strong><a href="{{ transaction.get_absolute_url }}">{{ transaction.name }}</a></strong><br>
                    Amount: {{ transaction.amount }}<br>
                    Wallet: {{ transaction.wallet }}<br>
                </div><br>
            {% endfor %}

        </p>
    </div>

{% endblock %}

{% block menu %}
        <p>
            <h2>Budgets:</h2>
            <p>
            {% if budgets_finishing %}
                <p><strong>Almost finished:</strong></p>
                {% for budget in budgets_finishing %}
                    <div>
                        <strong><a href="{{ budget.get_absolute_url }}">{{ budget.name }}</a></strong><br>
                        Completed: {{ budget.completion|floatformat:'2' }}%
                    </div><br>
                {% endfor %}
            {% endif %}

            {% if budgets_finished %}
                <p><strong>Finished:</strong></p>
                {% for budget in budgets_finished %}
                    <div>
                        <strong><a href="{{ budget.get_absolute_url }}">{{ budget.name }}</a></strong><br>
                        Completed: {{ budget.completion|floatformat:'2' }}%
                    </div><br>
                {% endfor %}
            {% endif %}

            {% if budgets %}
                <p><strong>Running now:</strong></p>
                {% for budget in budgets_running %}
                    <div>
                        <strong><a href="{{ budget.get_absolute_url }}">{{ budget.name }}</a></strong><br>
                        Completed: {{ budget.completion|floatformat:'2' }}%
                    </div>
                {% endfor %}
            {% else %}
                <p>No budget is running right now. You can create one <a href="{% url 'budgets:budget_create' %}"><b>here</b></a>.</p>
            {% endif %}
            </p>
        </p><br><br>

        <p>
            <h2>Savings:</h2>
            <p>
            {% if savings_list %}
                <p><strong>Running now:</strong></p>
                {% for saving in savings_list %}
                    <div>
                        <strong><a href="{{ saving.get_absolute_url }}">{{ saving.name }}</a></strong><br>
                        Completed: {{ saving.saving_completion|floatformat:'2' }}%
                    </div><br>
                {% endfor %}
            {% endif %}
            </p>
        </p>
{% endblock %}