{% extends 'base.html' %}

{% block title %}Your budgets{% endblock %}

{% block intro %}<h2>Your Budgets</h2>{% endblock %}

{% block content %}
    <div class="budget-list">
        {% for budget in budgets %}
            <div class="budget">
                <li><a href="{{ budget.get_absolute_url }}">{{ budget.name }}</a></li>
            </div><br>
        {% endfor %}
    </div>
{% endblock %}

{% block menu %}
    <div>
        <a href="{% url 'budgets:budget_create' %}">Create new budget</a>
    </div>
{% endblock %}
